#canvas {
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: antiquewhite;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
}

.player-collectibles {
    top: 10%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
}

.player-collectible {
    display: inline;
    margin: 1em
}

.collectible-img {
    width: 16px;
    height: 16px;
}