#guess, #shop {
    display: none;
}

#guess-block {
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
}

#player-username {
    text-align: center;
    font-size: 2em;
    margin-block-start: 2.5em;
    margin-block-end: 0.25em;
}

button {
    background-color: rgb(226, 255, 221);
    border: none;
    outline: none;
    padding: 0.5em;
    margin: 0.5em;
    cursor: pointer;
}

.option-buttons, #options, .length {
    display: flex;
    justify-content: center;
    align-items: center
}

.length-block, #hints {
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    background: white;
    box-shadow: 1px 1px 10px rgb(182, 182, 182);
    width: 20em;
    padding: 2em;
}

.length-block img {
    padding: 1em;
}

.guess-title {
    text-align: center;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.top-right-button {
    position: absolute;
    top: 0px;
    right: 0px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}

#hints {
    width: fit-content;
}

#close-hints-button {
    float: right;
}

#hints-table {
    display: grid;
    border-collapse: collapse;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(12, 1fr);
}

.grid-item {
    display: grid;
    min-height: 1em;
    min-width: 200px;
    grid-template-columns: 1fr 1fr 1fr;
}

.hint-value {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5em;
    min-height: 1em;
}

.grid-item:nth-child(even) {
    background-color: #eee;
}

.grid-item:nth-child(odd) {
    background-color: #fff;
}


/*notes*/
.guessing-block{
    width: 600px;
    height: 100px;
    background-image: url("../images/notes/background.png");
    background-size: contain;
    display: flex;
    align-items: flex-start
}

img {
    height: 40px;
    display: inline-block;
}

.c {
    margin-top: 45px;
}

.d {
    margin-top: 40px;
}

.e {
    margin-top: 35px;
}

.f {
    margin-top: 30px;
}

.g {
    margin-top: 25px;
}

.a {
    margin-top: 20px;
}

.h {
    margin-top: 15px;
}

.c2 {
    margin-top: 10px;
}

.whole {
    margin-right: 112.5px;
}

.dotted-half {
    margin-right: 75px;
}

.half {
    margin-right: 37.5px;
}

.dotted-quarter {
    margin-right: 18.75px;
}

.quarter {
    margin-right: 0px;
}

.eighth {
    margin-right: 0px;
}

.rest.full {
    margin-top: 10px;
}

.rest.half {
    margin-top: 10px;
}

.rest.quarter {
    margin-top: 30px;
}

.rest.eighth {
    margin-top: 20px;
}