.game-over {
    text-align: center;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.new-player {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.character-selection-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.character-label {
    display: block;
    width: 32px;
    height: 32px;
    background-image: url("../images/character/bard.png");
    cursor: pointer;
}

.character-select-list-item {
    padding: 0.5em;
}

.character-input {
    display: none;
}

.disabled {
    filter: grayscale(100%);
}

.username-input, .waiting {
    grid-column: 1 / 3;
    display: block;
    align-self: center;
}

.new-player button {
    width: 95%;
    padding: 0.5em;
    margin: 1%;
    align-self: center;
    grid-row-start: 2;
}


.wait {
    position: absolute;
    left: 50%;
    top: 40%;
    font-size: 1.2em;
    font-weight: 600;
    color: red;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#second-help {
    background-image: url("../images/info/part2.png");
    width: 24em;
    height: 28em;
    display: none;
    background-size: cover;
}

#first-help {
    background-image: url("../images/info/part1.png");
    width: 24em;
    height: 28em;
    background-size: cover;
}

#previous-arrow {
    background: url("../images/info/arrow-left.png");
    background-size: contain;
    left: 0;
    bottom: 0;
}

#next-arrow {
    background: url("../images/info/arrow-right.png");
    background-size: contain;
    right: 0;
    bottom: 0;
}

.arrow-button {
    height: 2.5em;
    width: 3em;
    padding: 0;
    position: absolute;
    border: none;
}

#close-button, #close-hints-button {
    background: url("../images/info/cross.png");
    border-radius: 5px;
    background-size: contain;
    float: right;
    width: 2em;
    height: 2em;
}

#canvas {
    display: none;
}

#next-arrow:hover, #previous-arrow:hover, #close-button:hover, button:hover:enabled {
    background-color: #ffffff80;
    background-blend-mode: multiply;
}

.character-label.enabled:hover {
    filter: grayscale(0%);
}

button:disabled {
    filter: grayscale(100%);
}

button:hover:disabled {
    filter: grayscale(100%);
}